//= require ./bootstrap
//= require jquery-ui.css

body
  // padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

ul#errors.alert
  list-style-type: none !important

#notifications
  position: absolute
  top: 45px
  right: 200px
  width: 40px
  .notifications-menu
    > li
      border-bottom: 1px solid #ccc
    left: -100px !important
    font-size: 12px

#checkin
  p
    white-space: pre-wrap

#main
  textarea#message-box
    width: 100%
    padding: 10px
  .message
    padding-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #eee
    .date
      color: #aaa
      margin-left: 5px
      font-size: 11px
    .body
      white-space: pre-wrap
      padding: 5px 0
      overflow-x: hidden
  .comment-container
    margin-top: 10px
  .comments
    margin-left: 10px
  #messages > div:first-child > .message
    padding-top: 0px
  .comment
    padding: 5px 10px
    font-size: 12px
    background-color: #eee
    border-bottom: 1px solid white
  .show-all-comments
    font-size: 12px
    margin-left: 10px
    padding: 10px 10px
    background-color: #eee
    border-bottom: 1px solid white
  .add-comment
    margin-left: 10px
    padding: 5px 10px
    background-color: #eee
    input
      width: 90%
      border: 1px solid #ccc
      padding: 2px 4px
      -webkit-appearance: none

  .room-title-row
    position: relative
    background: url('/img/homepage.jpg')
    background-size: cover
    background-position-y: 450px
    // background-color: red
    box-shadow: inset 0px -3px 10px rgba(0,0,0,0.2)

  .place-name
    color: white
    text-shadow: 1px 1px 1px black
    font-size: 32px
    font-weight: bold

  .container-fluid
    padding: 0px
  .row-fluid
    padding: 20px 20px

  .back
    border-bottom: 1px dotted
    color: white
    &:hover
      text-decoration: none
      background-color: #ccc

  .user
    margin-bottom: 10px

#user-info
  position: absolute
  top: 20px
  right: 20px



#app

  background: url('/img/homepage.jpg')
  background-size: cover

  .logo
    font-size: 40px
    position: absolute
    top: 20px
    left: 20px

  .place-input-wrapper
    text-align: center
    margin-top: 200px
    .byline
      font-size: 20px
      padding-bottom: 10px

  #place
    width: 500px
    padding: 10px

#landing
  padding: 40px
  .logo
    font-size: 40px

.ui-autocomplete-loading 
  background: url('img/ui-anim_basic_16x16.gif') no-repeat right center

