if checkedIn
  a.btn.js-check-out.active.btn-success(href="#") You are here
  p(style="color: #ccc; font-size: 12px; margin-top: 10px").
    When you leave this place click the button to checkout or simply checkin to another place.
else
  a.btn.js-check-in(href="#") Check In Here
  p(style="color: #ccc; font-size: 12px; margin-top: 10px").
    If you are currently at this place, click this button to let others
    know you are here.