.message
  if typeof fromObj !== 'undefined'
    strong= fromObj.name
  if typeof createdAt !== 'undefined'
    span.date.timeago(title=createdAt)
  .body= body
  .comment-container
    .show-all-comments: a(href="#") Show all replies
    .comments
    .add-comment
      input.add-comment-box(placeholder="Write a reply")
