extend layout
block main
  #app
    #user-info
      p
        | Logged in as&nbsp;
        span!= user.getDisplayName()
      a(href="/logout") Log Out

    .container-fluid
      .row-fluid

        .logo tripchat

        .place-input-wrapper
          .byline
            | Enter the name of a continent, country, city, or place below
          input#place
