extend layout
block main
  #landing
    .logo tripchat
    br
    .lead Chat with other travellers to find the best things to do right now!
    a(href="/app") Login
    | &nbsp;or&nbsp;
    a(href="/register") Register
