extend layout
block main
  script
    window.data = {};
    window.data.userCheckins = !{JSON.stringify(userCheckins)};
    window.data.user = !{JSON.stringify(user)};
    window.data.room = "!{room}";
    window.data.messages = !{JSON.stringify(messages)};
  #main
    .container-fluid
      .row-fluid.room-title-row: .span12
        a.back(href="/app") <-- Talk about different place
        br
        br
        //- p You are now chatting about
        .place-name= placeName
        #notifications
          .btn-group
            a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
              | 2
              //- span.caret
            ul.dropdown-menu.notifications-menu
              li: a(href="#") Vaughan commented on your post
              li: a(href="#") Someone likes your post

      .row-fluid
        .span2
          //- ul.nav.nav-list
          //-   li.nav-header: a(href="#") Following
          //-   li.nav-header: a(href="#") Argentina
          //-   li.active: a(href="#") Mendoza
          //-   li.nav-header: a(href="#") Uruguay
          //-   li: a(href="#") Punta del Este
          //-   li: a(href="#") Punta del Diablo

        .span4
          textarea#message-box(placeholder="Talk about this place")
          div(style="color:#ccc; font-size: 12px;") Press enter to post
          br
          br
          #messages
        .span5.offset1
          a.btn(href="#") Follow this place
          br
          br
          #checkin
          h3(style="margin-top: -5px") Who's here?
          #user-list
